* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* justify-content: center; */
}

.top_cont{
    border: 1px solid green;
    width: 98%;
    height: 10vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: absolute; */
    margin-top: 2vh;
}
.title{
    font-family: "Nabla";
    font-size: 10vh;
    /* border: 1px solid black; */
    width: 100%;
    /* position: absolute; */
}

.display_cont{
    border: 1px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
}

.display_cont p{
    font-family: "Lexend Deca";
    text-align: center;
}

.graph_title{
    border: 1px solid red;
    width: 50vw;
    text-align: center;
    font-size: 4vh;

}

